::-webkit-input-placeholder {
	color: #CCC;
}
::-moz-placeholder {
	color: #CCC;
}
:-ms-input-placeholder {
	color: #CCC;
}
:-moz-placeholder {
	color: #CCC;
}
.container {
	padding: 0 30px;
}
html{
	min-height:100%;/* make sure it is at least as tall as the viewport */
	position:relative;
}
body{
	height:100%; /* force the BODY element to match the height of the HTML element */
	min-width:600px;        /* Suppose you want minimum width of 1000px */
	width: auto !important;  /* Firefox will set width as auto */
	width: 600px;            /* As IE6 ignores !important it will set width as 1000px; */
	background: #2b355e;
}
.wrapper{
	color: #fff;
}
.no-mobile{
	display: none;
}
.page-header-inner{
	position: relative;
}
.page-header.menu-opened {
	/*display: -webkit-box;*/
	/*display: -ms-flexbox;*/
	/*display: flex;*/
	/*-ms-flex-wrap: wrap;*/
	/*flex-wrap: wrap;*/
	/*-ms-flex-line-pack: start;*/
	/*align-content: flex-start;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	/*text-align: center;*/
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	/*padding-top: 70px;*/
	background: #2b355e;
	border-bottom-width: 0;
}
.page-header::-webkit-scrollbar {
	display: none;
}
.page-header.menu-opened .container {
	padding: 0;
}
.page-header-nav {
	display: none;
}
.page-header-nav-list {
	margin-bottom: 20px;
}
.menu-opened .page-header-nav-list {
	text-align: left;
}
.page-header-nav-list > .page-header-nav-item > a,
.hidden-elements-list .page-header-nav-item {
	font: 25px "axiformablack";
	color: #fff;
}
.page-header.menu-opened .page-header-nav{
	margin-top: 65px;
}
.page-header.menu-opened .page-header-nav-item{
	border-bottom: 1px solid #555d7e;
}
.page-header.menu-opened .page-header-nav-item:first-child{
	border-top: 1px solid #555d7e;
}
.page-header.menu-opened .page-header-nav-item a{
	display: block;
	height: 70px;
	line-height: 70px;
	padding-left: 60px;
}
.page-header.menu-opened .page-header-nav-item a:hover,
.page-header.menu-opened .page-header-nav-item.active a{
	background-color: #414a6e;
}
.close-btn,
.pop-up-close-button {
	position: absolute;
	width: 45px;
	height: 45px;
	background: url(../images/icons/close-menu.png) center center no-repeat;
	top: 25px;
}
.pop-up-close-button {
	right: 20px;
}
.close-btn {
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}
.close-btn:hover {
	opacity: .6;
}
.page-header .menu-close-btn {
	display: none;
	right: auto;
	left: 27px;
	top: 40px;
}
.page-header.menu-opened .menu-close-btn {
	display: inline-block;
}
.page-header.menu-opened .page-header-nav {
	display: block;
}
.page-header.menu-opened .page-header-nav {
	width: 100%;
}
.page-header.menu-opened .menu-open-btn{
	display: none;
}
.page-header-main {
	padding: 30px 0 15px;
}
/*.page-header.menu-opened .page-header-main {*/
	/*display: none;*/
/*}*/
.page-header-main > .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*align-items: center;*/
}
.page-header.menu-opened .page-header-main > .container{
	padding: 0 30px;
}
.page-header-logo {
	margin: 0 auto;
	font-size: 0;
}
.page-header-logo img {
	width: 217px;
	height: 70px;
}
.page-header-main-left-mobile{
	width: 65px;
	margin-right: 70px;
}
.page-header-main-right-list {
	display: flex;
	justify-content: center;
	/*text-align: right;*/
	/*margin-right: 15px;*/
	/*padding: 30px 15px 0 0;*/
}
.menu-opened .page-header-main-right-list{
	display: none;
}
/*.page-header-main-right-item.tg-ru{*/
	/*display: none;*/
/*}*/
.menu-open-btn,
.header-social a,
.page-footer-button {
	width: 25px;
	height: 25px;
}
.header-social li {
	display: block;
	position: relative;
	margin-bottom: 20px;
	margin-right: 30px;
}
.header-social li a:hover {
	opacity: .6;
}
.header-social li a{
	width: 25px;
	height: 25px;
	color: #fff;
	font: 10px 'axiformalight';
	padding-top: 30px;
	text-align: center;
}
.header-social li a span{
	display: none;
}
.mobile-open-social .header-social li a span{
	display: inline-block;
}
.header-social li a {
	display: inline-block;
	background: url("../images/icons/header-icons-sprite.png") center top no-repeat;
}
.header-social li.lIn a{
	background: url("../images/icons/linkedin-logo.png") center top no-repeat;
}
.header-social li.md a{
	background: url("../images/icons/medium-logo.png") center top no-repeat;
}
.header-social li.rd a{
	background: url("../images/icons/reddit-logo.png") center top no-repeat;
}
.header-social li.tg a{
	background: url("../images/icons/telegram-logo.png") center top no-repeat;
}
.header-social li.inst a{
	background-position: center bottom;
}
.menu-open-btn,
.page-footer-button {
	height: 45px;
	width: 45px;
	background: url(../images/icons/icon-humburger.png) center center no-repeat;
}
.menu-open-btn {
	margin: 10px 0 0 20px;
	/*margin-left: 20px;*/
}
.page-header-nav .header-social{
	padding: 45px 0 80px;
}
.page-header-nav .header-social li{
	display: inline-block;
}
/*.page-header-nav .header-social li a{*/
	/*width: 30px;*/
	/*height: 30px;*/
	/*background: url("../images/icons/header-icons-sprite-big.png") center top no-repeat;*/
/*}*/
/*.page-header-nav .header-social li.inst a{*/
	/*background-position: center bottom;*/
/*}*/
.page-header-nav .header-social{
	margin-left: 54px;
}
.page-header-nav .header-social li{
	margin-right: 10px;
	text-align: center;
}
.page-header-nav .header-social li:first-child{
	/*margin-right: 80px;*/
}
.page-header-nav .mobile-open-social .header-social{
	display: flex;
}
.page-header-nav .mobile-open-social .header-social li a{
	width: auto;
}
.page-bg-elements{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow: hidden;
	z-index: -1;
}
.header-circle{
	position: absolute;
	top: 24px;
	right: -234px;
	/*width: 872px;*/
	width: 661px;
	/*height: 1126px;*/
	height: 854px;
	background: url("../images/header-semi-circle.png") no-repeat;
	background-size: cover;
}
main{
	position: relative;
}
.content-section{
    position: relative;
	margin-top: 70px;
}
h2.section-title{
	font: 50px "axiformablack";
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 40px;
}
.multi-asset-section{
	margin-top: 50px;
}
.multi-asset-section h2.section-title{
	margin: 49px 0 10px;
}
.preferences-list{
	margin: 0 auto;
	width: 355px;
	font: 18px "range_monoregular";
}
.preferences-list ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}
.preferences-list ul li{
	position: relative;
}
.preferences-list ul li:before{
	content: "";
	display: block;
	width: 49%;
	height: 53px;
	margin-bottom: 17px;
	border-right: 1px dashed #606a82;
}
.svg-image-wrap{
	position: relative;
	/*overflow: hidden;*/
	/*background: blueviolet;*/
}
.multi-asset-svg{
	margin-right: 30px;
	height: 335px;
	background: url("../images/temp/blockchain.png") center right no-repeat;
	background-size: auto 100%;
	margin-top: 35px;
}

.content-section .article-wrap{
	padding: 0 30px;
	position: relative;
}
.content-section article{
	padding: 22px 35px;
	font: 17px/19px "range_monoregular";
	background: url("../images/semi-blue-bg.png");
	margin-bottom: 18px;
}
.content-section article h5{
	font: 17px "axiformabold";
	margin: 0;
}
.content-section article p{
	margin: 0 0 15px 0;
}
.content-section article strong{
	font-weight: normal;
	color: #ff5704;
}
.section-switcher{

}
.section-switcher ul{
	list-style-type: none;
	display: flex;
	justify-content: center;
}
.section-switcher ul li{
	vertical-align: middle;
}
.section-switcher ul li:not(:last-child){
	display: inline-block;
	margin-right: 10px;
}
.section-switcher ul li a{
	display: inline-block;
	text-align: center;
	height: 52px;
	font: 16px/52px  'axiformabold';
	padding: 0 1px;
	min-width: 98px;
	color: #fff;
	background: url("../images/semi-blue-bg.png");
	-webkit-transition: color .3s ease-out;
	-o-transition: color .3s ease-out;
	transition: color .3s ease-out;
}
.section-switcher ul li a.active,
.section-switcher ul li:hover a{
	color: #ff5704;
	-webkit-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	transition: color .3s ease-in;
}
.section-switcher ul li:before,
.section-switcher ul li:after{
	display: inline-block;
	vertical-align: middle;
	content: "";
	width: 23px;
	height: 52px;
	background: url("../images/buttons-round-bg.png") right center no-repeat;
	background-size: cover;
}
.section-switcher ul li:after{
	transform: rotate(180deg);
}
.platform-slider .svg-image-wrap{
	margin: 40px auto 70px;
	text-align: center;
}
.platform-slider .platform-slider-item  .svg-image-wrap img{
	display: inline-block;
	width: auto;
}
.bx-wrapper .bx-viewport{
	background: transparent;
}
.platform-slider-controls{
	position: relative;
	z-index: 2;
}
.platform-slider-controls > a{
	position: absolute;
	display: block;
	top: 270px;
	left: 0;
	width: 84px;
	height: 73px;
	background: url("../images/slider-arrow.png") no-repeat;
}
.platform-slider-controls > a.arrow-right{
	transform: rotate(180deg);
	top: 270px;
	right: 0;
	left: auto;
}
.platform-slider-controls > a a{
	display: block;
	width: 100%;
	height: 100%;
}
.platform-section{
	position: relative;
}
.platform-section .slider-wrap{
	position: relative;
}
.bg-elements{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow: hidden;
	z-index: -1;
}
.plattform-bg{

}
.plattform-bg .line{
	position: absolute;
	top: 390px;
	width: 100%;
	height: 193px;
	background: url("../images/svg/line-4.svg") 43% center no-repeat;
}
.container.team-container{
    margin-top: 70px;
}
.team-container .team{
    display: flex;
    flex-wrap: wrap;
    /*align-items: baseline;*/
    justify-content: center;
}
.team .associate{
    position: relative;
    width: 165px;
    margin: 0 40px 25px;
}
.team .associate .photo-wrap-outer{
    position: relative;
    text-align: center;
    width: 165px;
    height: 185px;
    margin-bottom: 5px;
}
.team .associate .photo-wrap{
    display: inline-block;
    overflow: hidden;
    text-align: center;
    width: 160px;
    margin: 0;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    /*-webkit-transition: width .3s ease-out;*/
    /*-o-transition: width .3s ease-out;*/
    /*transition: width .3s ease-out;*/
}
.team .associate .photo-wrap img{
    display: inline-block;
    width: 160px;

    -webkit-transition: width .3s ease-out;
    -o-transition: width .3s ease-out;
    transition: width .3s ease-out;
}
.associate .short-info h6{
    font: 18px/24px "axiformabold";
    margin: 0 0 3px 0;
}
.associate .short-info p.position{
    font: 14px/20px "axiformaregular";
    margin: 0;
}
.social-info{
    margin: 20px 0 0 -1px;/*Было  20px 0 0 -7px*/
}
.social-info ul{
    list-style-type: none;
}
.social-info ul li{
    display: inline-block;
    margin-right: 26px;
}
.social-info ul li a{
    display: block;
    width: 27px;
    height: 27px;
    background: url("../images/icons/header-icons-sprite.png") center top no-repeat;
}
.social-info ul li.inst a{
    background-position: center bottom;
}
.social-info ul li.lIn a{
	background: url("../images/icons/linkedin-logo.png") center top no-repeat;
}

.team-bg .team-line{
    position: absolute;
    top: 26px;
    width: 100%;
    height: 268px;
	background: url("../images/svg/line-5.svg") 8% center no-repeat;
	background-size: auto 100%;
}
.team .associate .more-info{
    display: none;
}
.associate .more-info .long-info{
	margin-top: 25px;
	font: 15px/18px 'axiformaregular';
}
.associate .more-info .long-info p{
	margin: 0 0 15px 0;
}
.more-info .social-info ul li a{
	background-image: url("../images/icons/header-icons-sprite-black.png");
}
.more-info .social-info ul li.lIn a{
	background-image: url("../images/icons/linkedin-black.png");
}
.associate-section{
	background: #e4e4e4;
	margin-top: 0;
	padding: 40px 60px 80px;
	color: #000;
	margin-bottom: 20px;
}
.associate-section .page-title{
	font: 50px 'axiformablack';
	color: #2b355e;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 20px 0;
}
.associate-top-part{
	display: flex;
	justify-content: space-between;
}
.associate-top-part .short-info{
	margin-top: 27px;
}
.assoc-page-block{
	position: relative;
}
.assoc-page-block .back-link{
	position: absolute;
	display: block;
	width: 85px;
	height: 56px;
	left: -36px;
	top: -6px;
	background: url("../images/icons/back-link.png");
}
.token-top-text{
	/*max-width: 445px;*/
}
.token-top-text .article-wrap article{
	background: none;
	padding-right: 15px;
}
.list-el{
	margin-left: 20px;
    position: relative;
}
.token-main-part.container{
	padding: 0;
	margin-top: -140px;
	padding-top: 140px;
	/*overflow: hidden;*/
	position: relative;
}
.list-el:before{
	position: absolute;
	content: "•";
	left: -20px;
	display: inline-block;
	/*margin-right: 15px;*/
}
.svg-text{
	position: relative;
	width: 480px;
	height: 400px;
	margin: 0 auto;
}

.graph-element{
	position: absolute;
	font: 14px 'range_monoregular';
}
.graph-element span{
	display: block;
	font: 28px "axiformabold";
}
.graph-element.el1{
	left: 350px;
	top: 30px;.
}
.graph-element.el2{
	left: 350px;
	top: 314px;.
}
.graph-element.el3{
	left: 114px;
	top: 314px;.
}
.graph-element.el4{
	left: 37px;
	top: 30px;.
}

h3.subtitle{
	font: 26px/50px "axiformabold";
	text-align: center;
	margin-bottom: 30px;
}
.token-section{
    overflow: hidden;
}
.token-section .svg-image-wrap {
	/*overflow: hidden;*/
	width: 600px;
	height: 400px;
	margin: 0 auto  30px;
	z-index: -1;
}
.token-svg{
	position: absolute;
    width: 995px;
    left: 110px;
	top: -330px;
	/*right: -110px;*/
	/*width: 100%;*/
	height: 925px;
	background: url(../images/temp/token.png) left top no-repeat;
	background-size: auto 100%;
	z-index: -1;
}
.form-wrap{
	margin-bottom: 95px;
}
.whitepaper-form{
	width: 410px;
	margin: 0 auto;
}
.whitepaper-form input{
	display: block;
	width: 100%;
	color: #fff;
	font: 18px/40px "axiformaregular";
	background: none;
	outline: none;
	border: none;
	border-bottom: 1px solid #555d7e;
	box-shadow: none;
	margin-bottom: 15px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
	color: #fff;
}
.whitepaper-form textarea{
	display: block;
	width: 100%;
	height: 115px;
	color: #fff;
	font: 18px/40px "axiformaregular";
	background: none;
	outline: none;
	border: none;
	border-bottom: 1px solid #555d7e;
	box-shadow: none;
	margin-bottom: 15px;
}
.whitepaper-form label{
	font: 12px "axiformaregular";
}
.whitepaper-section .button{

}
.whitepaper-section .button{
	display: block;
	text-align: center;
	margin: 30px auto;
	height: 63px;
	font: 16px/63px  'axiformabold';
	text-transform: uppercase;
	padding: 0 1px;
	width: 185px;
	color: #fff;
	border: none;
	background: url("../images/buttons-orange-bg.png") no-repeat;
	-webkit-transition: color .3s ease-out;
	-o-transition: color .3s ease-out;
	transition: color .3s ease-out;
}
.download-block-wrap{
	text-align: center;
	margin-bottom: 95px;
}
.download-block-wrap p{
	font: 17px 'range_monoregular';
	margin: 0 0 35px 0;
}
.download-block-wrap .pdf-icon{
	display: inline-block;
	width: 191px;
	height: 221px;
	background: url("../images/icons/pdf-icon.png");
}
.roadmap-wrap .roadmap-dots{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 30px;
	margin: 80px 0 115px;
}
.roadmap-dots .dot{
	position: relative;
	width: 255px;
	padding-left: 35px;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.roadmap-dots .dot:before{
	position: absolute;
	content: "";
	display: block;
	width: 17px;
	height: 19px;
	left: 0;
	top: 2px;
	background: url("../images/icons/rhomb.png") no-repeat;
}
.roadmap-dots .dot .dot-title{
	font: 28px "axiformabold";
	margin: 0;
}
.roadmap-dots .dot .dot-title span{
	color: #ff5704;
}
.roadmap-dots .dot p{
	font: 17px 'range_monoregular';
}


.page-footer{
	font: 14px/18px "axiformalight";
	text-align: center;
    padding-top: 200px;
	padding-bottom: 55px;
}
.foot-logo{
	display: block;
	margin: 30px 0 0;
	text-align: center;
}
.roadmap-text{
    display: none;
}
.mail-link{
	display: block;
	margin-top: 20px;
    color: #ff5704;
}

@media only screen and (min-width: 1200px) {
	.container {
		width: 1200px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.no-mobile{
		display: block;
	}
    .content-section:not(:first-child){
        margin-top: 135px;
    }
	.page-header {
		position: relative;
		z-index: 2;
	}
	.header-circle{
		position: absolute;
		top: -200px;
		right: 50%;
		margin-right: -848px;
		width: 872px;
		height: 1126px;
	}
	.page-header-nav {
		display: block;
	}
	.page-header-nav > .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		justify-content: flex-end;
	}
	.page-header-main-left-mobile,
	.mobile-open-social{
		display: none;
	}
	.page-header-main{
		padding-top: 25px;
	}
	.page-header-main > .container{
		justify-content: space-between;
	}
	.page-header-nav-list {
		display: flex;
		width: 700px;
		margin-top: -47px;
		justify-content: space-between;
	}
	.page-header-logo{
		margin : 20px 0 0 0;
	}
	.page-header-logo img{
		width: 169px;
		height: 55px;
		background-size: cover;
	}
	.header-social li{
		margin-bottom: 0;
	}
	.header-social li a span{
		display: inline-block;
	}
	.header-social li a{
		width: auto;
	}
	.page-header-main-right{
		width: 275px;
	    margin-top: -8px;
	}
	.page-header-main-right-list{
		width: 275px;
		display: flex;
		justify-content: space-between;
	}
	.page-header-main-right-item.tg-ru{
		display: inline-block;
	}
	.page-header-nav-list > .page-header-nav-item > a{
		font: 15px "axiformabold";
		position: relative;
		color: #fff;
		-webkit-transition: color .3s ease-out;
		-o-transition: color .3s ease-out;
		transition: color .3s ease-out;
	}
	.page-header-nav-list > .page-header-nav-item.active > a,
	.page-header-nav-list > .page-header-nav-item > a:hover{
		color: #959fa5;
		-webkit-transition: color .3s ease-in;
		-o-transition: color .3s ease-in;
		transition: color .3s ease-in;
	}
	.page-header-nav-list > .page-header-nav-item > a:after{
		position: absolute;
		content: "";
		display: block;
		height: 2px;
		width: 0;
		bottom: -24px;
		background: #ff5704;
		-webkit-transition: width .3s ease-out;
		-o-transition: width .3s ease-out;
		transition: width .3s ease-out;
	}
	.page-header-nav-list > .page-header-nav-item.active > a:after,
	.page-header-nav-list > .page-header-nav-item > a:hover:after{
		width: 100%;
		-webkit-transition: width .3s ease-in;
		-o-transition: width .3s ease-in;
		transition: width .3s ease-in;
	}
	h2.section-title{
		font-size: 82px;
	    line-height: 80px;
	}
	.multi-asset-section h2.section-title{
		width: 577px;
	}
	.preferences-list{
		margin: 30px 0 0 285px;
		width: 200px;
		position: relative;
	}
	.preferences-list:before{
		display: block;
		content: "";
		position: absolute;
		z-index: 0;
		width: 837px;
		height: 120px;
		left: -856px;
		top: 26px;
		background: url("../images/preferences-lines.png");
	}
	.multi-asset-section > .container{
		display: flex;
	}
	.preferences-list ul li:before{
		display: none;
	}
	.preferences-list ul{
		display: block;
	}
	.preferences-list ul li{
		font: 30px/50px "range_monoregular";
	}
	.multi-asset-svg{
		position: absolute;
		margin-left: -805px;
		left: 50%;
		width: 1319px;
		height: 430px;
		background: url("../images/temp/blockchain.png") center center no-repeat;
	}
	.multi-asset-section .article-wrap{
		width: 480px;
		margin-top: 50px;

	}
	.content-section .article-wrap{
		padding: 0;
	}
	.section-top-block{
		display: flex;
		flex-wrap: wrap;
		/*align-items: center;*/
	}
	.section-top-block .section-title{
		margin-bottom: 0;
		text-align: left;
	}
	.platform-section .section-title{
		margin-right: 105px;
	}
	.platform-slider{
		margin-top: 40px;
	}
	.platform-slider-controls{
		display: none;
	}
	.platform-slider-item{
		display: flex;
		justify-content: space-between;
	}
	.platform-slider-item .svg-image-wrap{
		width: 515px;
		text-align: left;
		margin: 40px 0 0 0;
	}
	.platform-slider-item .article-wrap{
		width: 570px;
	}
	.plattform-bg .line {
		background: url("../images/svg/line-4.svg") 90% center no-repeat;
	}
	.page-footer .container{
		display: flex;
		/*align-items: center;*/
	}
	.page-footer .text{
		order: 1;
		text-align: left;
		margin-right: 140px;
	}
	.foot-logo{
		margin: 0 55px 0 0;
		order: 0;
	}
    .team-section .section-title{
        margin-right: 225px;
    }
    .team-container .team{
        justify-content: flex-start;
    }
    .team .associate .associate-inner{
        display: flex;
        /*align-items: center;*/
    }
    .team .associate{
        width: 370px;
        margin: 0 20px 75px 0;
    }
	.team .associate:last-child{
		margin-bottom: 0;
	}
    .team .associate .right-part{
        padding-top: 40px;
    }
    .team .associate .photo-wrap-outer{
        margin-right: 30px;
    }
    .team-bg .team-line{
        top: 156px;
        height: 440px;
    }

    /*******  active associate   ********/
    .team .associate:hover{
        z-index: 2;
    }
    .team .associate .more-info{
        display: none;
        /*visibility: hidden;*/
        /*-webkit-animation: fadeOut 0.2s linear forwards;*/
        /*animation: fadeOut 0.2s linear forwards;*/
    }
    .team .associate:hover .more-info{
        display: block;
        -webkit-animation: fadeInRight 0.5s linear forwards;
        animation: fadeInRight 0.5s linear forwards;
    }
    .team .associate .more-info{
        position: absolute;
        left: 163px;
        top: 0;
        width: 405px;
        /*height: 652px;*/
        padding: 40px 30px 20px;
        background: #e4e4e4;
        color: #000;
        z-index: 1;
    }
    .team .associate .more-info:before{
        content: "";
        display: block;
        position: absolute;
        width: 17px;
        height: 34px;
        top: 58px;
        left: -17px;
        background: url("../images/icons/associate-arrow.png") no-repeat;
    }


    .team .associate:hover .photo-wrap{
        width: 126px;
        margin: 5px 15px 0 0;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
    }
    .team .associate:hover .photo-wrap img{
        width: 126px;
        -webkit-transition: width .3s ease-in;
        -o-transition: width .3s ease-in;
        transition: width .3s ease-in;
    }

    /*@-webkit-keyframes fadeOut {*/
        /*0% {*/
            /*opacity: 1;*/
        /*}*/

        /*100% {*/
            /*opacity: 0;*/
            /*visibility: hidden;*/
        /*}*/
    /*}*/

    /*@keyframes fadeOut {*/
        /*0% {*/
            /*opacity: 1;*/
        /*}*/
        /*100% {*/
            /*opacity: 0;*/
            /*visibility: hidden;*/
        /*}*/
    /*}*/
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    /*******  end of active associate   ********/
	.token-section .section-top-block{
		align-items: inherit;
	}
	.token-section .section-title{
		margin-right: 125px;
	}
	.token-top-text{
		width: 445px;
	}
	.token-top-text .article-wrap article{
		padding: 15px 0 0 0;
	}
	.token-main-part.container{
		padding-top: 180px;
	}
	.token-main-part .article-wrap{
		width: 570px;
		/*order: 0;*/
	}
	.token-section .svg-image-wrap{
		/*order: 1;*/
		position: absolute;
		right: -90px;
		top: 152px;
	}
	.token-svg{
		/*width: 127%;*/
    	left: -52px;
	}
	.download-block-wrap .pdf-icon {
	    margin-right: 60px;
	}
	.graph-element.el1 {
		left: 299px;
		top: 82px;
	}
	.graph-element.el2 {
		left: 299px;
		top: 234px;
	}
	.graph-element.el3 {
		left: 46px;
		top: 314px;
	}
	.whitepaper-container{
		display: flex;
	}
	.whitepaper-form{
		width: 570px;
	}
	.whitepaper-container .form-wrap{
		margin-right: 125px;
		margin-bottom: 0;
	}
	.download-block-wrap{
	    display: flex;
    	align-items: center;
    	text-align: left;
		margin-bottom: 0;
	}
	h3.subtitle{
		margin-right: 100px;
		text-align: left;
	}
	.whitepaper-form textarea{
		height: 50px;
	}
	.roadmap-wrap .roadmap-dots{
		display: block;
	}
	.roadmap-section{
		/*overflow: hidden;*/
	}
	.roadmap-wrap{
		position: relative;
		height: 1350px;
		/*margin-top: -13px;*/
		/*margin-bottom: -110px;*/
		overflow-x: hidden;
        margin-top: 70px;
	}
	/*.roadmap-wrap .svg-wrap-outer{*/
		/*position: relative;*/
		/*height: 1px;*/
	/*}*/
	/*.roadmap-wrap .svg-wrap{*/
		/*position: absolute;*/
		/*height: 886px;*/
		/*width: 1632px;*/
		/*left: 50%;*/
		/*margin-left: -816px;*/
		/*background: url("../images/temp/roadmap.png") center center no-repeat;*/
		/*z-index: -1;*/
	/*}*/
	.roadmap-wrap .svg-wrap{
		position: absolute;
	    height: 1350px;
	    width: 1933px;
	    left: 50%;
	    margin-top: -196px;
	    margin-left: -1034px;
		background: url("../images/temp/roadmap2.png") center bottom no-repeat;
		z-index: -1;
	}
	.roadmap-wrap .roadmap-dots{
		position: absolute;
		height: 1150px;
		width: 2366px;
		left: 50%;
		margin: 0 0 0 -1184px;
		padding: 0;
	}
    .roadmap-text{
        display: block;
        position: absolute;
        height: 1350px;
        width: 2366px;
        left: 50%;
        margin: 0 0 0 -1184px;
    }
    .roadmap-text-item{
        position: absolute;
        width: 275px;
        text-align: left;
        font: 17px/20px 'range_monoregular';
        color: #fff;
    }
    .roadmap-text-item.first{
        left: 570px;
        top: 300px;
    }
    .roadmap-text-item.second{
        left: 899px;
        top: 215px;
    }
    .roadmap-text-item.third{
	    width: 260px;
        left: 1231px;
        top: 324px;
    }
    .roadmap-text-item.fourth{
        left: 1515px;
    	top: 325px;
    }
    .roadmap-text-item h4{
        color: #ff5704;
        margin-bottom: 15px;
    }
    .roadmap-text-item .list-el{
        margin-bottom: 6px;
    }


    .roadmap-dots .dot .color{
    	font-size: 16px;
    	color: #ff5704;
    }
	.roadmap-wrap .roadmap-dots .dot{
		position: absolute;
	}
	.roadmap-dots .dot.d1{
        left: 533px;
        top: 2px;
	}
	.roadmap-dots .dot.d2{
        left: 869px;
		top: 2px;
	}
	.roadmap-dots .dot.d3{
        left: 1201px;
		top: 2px;
	}
	.roadmap-dots .dot.d4{
        left: 1485px;
		top: 2px;
	}

	.page-header-main-right{
		order: 2;
		width: 140px;
	}
	.page-header-main-right-list {
		justify-content: flex-end;
	}

	/*.roadmap-dots .dot.d5{*/
		/*left: 884px;*/
		/*top: 516px;*/
	/*}*/
}
@media only screen and (min-width: 1360px) {
	.invisible{
		opacity: 0;
	}
}
